.App {
  text-align: center;
  /* background-color: #6495ed; */
  height: 100vh;
}

.orderForm {
  background-color: #fff;
  border: 2px solid grey;
  border-radius: 16px;
  width: 300px;
  height: 320px;
  align-self: center;
  color: black;
}

/* src/App.css */
.board {
  display: flex;
  margin: 8px;
}

.column {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin: 8px;
  width: 220px;
  background-color: #ebecf0;
}

.task-list {
  min-height: 100px;
}

.task {
  border: 1px solid lightgrey;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: white;
}
